configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name}";
    font:                        "JetBrainsMono Nerd Font 14";
}

@theme "theme"

window {
    enabled:                     true;
    fullscreen:                  false;
    width:                       80%;
    transparency:                "real";
    cursor:                      "default";
    spacing:                     0px;
    padding:                     0px;
    border: 2px;
    border-color: @border-col;
    border-radius: 0px;
    background-color:            transparent;
}

mainbox {
    enabled:                     true;
    children:                    [ "listview" ];
    background-color:            @bg-col;
}

listview {
    enabled:                     true;
    columns:                     5;
    lines:                       2;
    spacing:                     0px;
    padding:                     0px;
    cycle:                       true;
    dynamic:                     false;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @fg-col;
}

element {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     0px;
    padding:                     0px;
    border-radius:               0px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @fg-col;
}

element selected.normal {
    background-color:            @selected-col;
    text-color:                  @text-col;
}

element-icon {
    size:                        33%;
    cursor:                      inherit;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  inherit;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    padding:                     10px;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}