let background = "{{background}}"
let foreground = "{{foreground}}"
let cursor = "{{cursor}}"
let color0 = "{{color_01}}"
let color1 = "{{color_02}}"
let color2 = "{{color_03}}"
let color3 = "{{color_04}}"
let color4 = "{{color_05}}"
let color5 = "{{color_06}}"
let color6 = "{{color_07}}"
let color7 = "{{color_08}}"
let color8 = "{{color_09}}"
let color9 = "{{color_10}}"
let color10 = "{{color_11}}"
let color11 = "{{color_12}}"
let color12 = "{{color_13}}"
let color13 = "{{color_14}}"
let color14 = "{{color_15}}"
let color15 = "{{color_16}}"