// Rofi Theme

* {
    bg-col: {{background}};
    bg-col-light: {{color8}};
    border-col: {{color12}};
    selected-col: {{color8}};
    prompt-col: {{color12}};
    fg-col: {{foreground}};
    text-col: {{color12}};
    width: 600px;
}