// Rofi Theme

* {
    bg-col: {{background}};
    bg-col-light: {{color_09}};
    border-col: {{color_13}};
    selected-col: {{color_09}};
    prompt-col: {{color_13}};
    fg-col: {{foreground}};
    text-col: {{color_13}};
    width: 600px;
}