{{background}}
{{foreground}}
{{cursor}}
{{color0 }}
{{color1 }}
{{color2 }}
{{color3 }}
{{color4 }}
{{color5 }}
{{color6 }}
{{color7 }}
{{color8 }}
{{color9 }}
{{color_11}}
{{color_12}}
{{color_13}}
{{color_14}}
{{color_15}}
{{color_16}}