{
    "wallpaper": "{{wallpaper}}",
    "alpha": "100",
    "special": {
        "background": "{{background}}",
        "foreground": "{{foreground}}",
        "cursor": "{{cursor}}"
    },
    "colors": {
        "color0": "{{color_01}}",
        "color1": "{{color_02}}",
        "color2": "{{color_03}}",
        "color3": "{{color_04}}",
        "color4": "{{color_05}}",
        "color5": "{{color_06}}",
        "color6": "{{color_07}}",
        "color7": "{{color_08}}",
        "color8": "{{color_09}}",
        "color9": "{{color_10}}",
        "color10": "{{color_11}}",
        "color11": "{{color_12}}",
        "color12": "{{color_13}}",
        "color13": "{{color_14}}",
        "color14": "{{color_15}}",
        "color15": "{{color_16}}"
    }
}