@define-color border #B45BCF;
@define-color	text  #E9E9F4;
@define-color	base  #282936;
@define-color	selected-text  #4D4F68;

* {
  font-family: 'JetBrainsMonoNL Nerd Font', monospace;
  font-size: 18px;
}

window {
  margin: 0px;
  border: 2px solid @border;
  background-color: @base;
}

#input {
  margin: 5px;
  border: 1px solid @base;
  color: @text;
  background-color: @base;
}

#input image {
	color: @text;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @base;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
} 

#entry:selected {
	background-color: @selected-text;
}

#text:selected {
	background-color: @selected-text;
}

#entry image {
  -gtk-icon-transform: scale(0.7);
}
