@import ".config/wofi/theme.css";

* {
  font-family: JetBrainsMonoNL Nerd Font Mono;
  font-size: 18px;
  color: @text_color;
}

window {
  margin: 0px;
  border: 2px solid @window_border_color;
  background-color: @bacground_color;
}

#input {
  margin: 5px;
  border: 1px solid @bacground_color;
  background-color: @bacground_color;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @bacground_color;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @bacground_color;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
} 

#entry:selected {
	background-color: @selected_bg_color;
}

#text:selected {
	background-color: @selected_bg_color;
}

#entry image {
  -gtk-icon-transform: scale(0.7);
}
